* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #1ae88f;
  color: #000a12;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #1ae88f;
}

html {
  width: 100%;
  height: 100%;
  background: #000A12;
  background-image: url('/images/noise.gif');
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  // cursor: none;
}

// .cursor {
//   position: absolute;
//   height: 24px;
//   display: none;
//   width: 24px;
//   border: 1px solid #fff;
//   border-radius: 50%;
//   z-index: 9999;
//   will-change: scale;
//   transition: scale 0.6s ease;
//   // transition: top 0.2s ease-out, left 0.2s ease-out;
// }

// .expand {
//   transform: scale(2);
//   transition: scale 0.6s ease;
// }

a {
  color: #fff;
  text-decoration: none;
  // z-index: 999;
}

.fixed_elements {
  width: 100%;
  height: 100%;
  position: fixed;

  .left {
    position: absolute;
    top: 80px;
    left: 60px;
    bottom: 80px;

    span.scroll_down-text {
      position: absolute;
      bottom: 0;
      line-height: 90%;
      margin: 0;
      display: inline;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
    }


    .scroll_progress {
      position: absolute;
      top: 180px;
      bottom: 80px;
      opacity: 0.5;

      #bar {
        width: 1px;
        background: #fff;
      }

      #arrow {
        position: absolute;
        height: 5px;
        width: 5px;
        transform-origin: 20% 100%;
        transform: rotate(-45deg) translate(4px, -4px);
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
    }
  }

  .right {
    position: absolute;
    top: 80px;
    bottom: 80px;
    z-index: 9999;
    right: 60px;
    text-align: right;

    .nav-container {
      position: absolute;
      right: -10px;
      top: -10px;

      ul, li {
        box-sizing: content-box;
      }

      li a {
        position: relative;
        display: block;
        margin-bottom: 2px;
        font-size: 13px;
        text-transform: uppercase;
        padding: 10px;
        opacity: 0.5;
        z-index: 999;
      }
    }

    .social-container {
      position: absolute;
      bottom: -10px;
      right: -10px;

      ul, li {
        box-sizing: content-box;
      }

      a {
        position: relative;
        display: block;
        opacity: 0.5;
        margin-top: 10px;
        padding: 12px;
        z-index: 9999;

        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;

  .header_main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_visual-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;

    img {
      position: absolute;
      transform: translateZ(100px);
      z-index: 10;
    }

    .title_text_comp {
      text-transform: uppercase;
      opacity: 0.7;
      z-index: 0;

      h1 {
        font-size: 150px;
        font-weight: 900;
      }

      .block {
        display: block;
        line-height: 80%;
      }

      .developer {
        text-align: center;
      }

      .full {
        margin-left: 150px;
      }

      .stack {
        margin-left: 100px;
      }
    }
  }

  .header_subtitle {
    position: absolute;
    bottom: 80px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 0;
  }
}

.multidisciplinary_svg {
  width: 80%;
  max-width: 600px;
}

.container {
  position: relative;
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

.container_inner {
  position: relative;
  display: flex;
  flex: 1;
  margin-bottom: 60px;
}

.text-block {
  margin-bottom: 30px;
  opacity: 0.5;
  line-height: 140%;

  a.green {
    color: #1AE88F;
  }

  a:hover {
    text-decoration: underline;
  }

  &:hover {
    opacity: 0.9;
  }
}

section {
  padding-top: 220px;

  li {
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 20px;
    text-transform: uppercase;
    opacity: 0.5;
  }
}

.half {
  width: 50%;
  flex: 1;
}

.flex_1-3 {
  flex: 1;
  display: inline-flex;
}

.flex_2-3 {
  flex: 2;
}

.paragraph {
  font-size: 20px;
  line-height: 160%;
  opacity: 0.75;

  span {
    position: relative;
    display: block;
  }
}

h2 {
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.work_list {
  width: 100%;
}

.work_link-big {
  font-size: 100px;
  font-weight: 900;
  width: 100%;
  padding: 40px 0;
  display: block;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.5;
}

.work-thumb {
  position: absolute;
  pointer-events: none;
  width: 500px;
  height: 290px;
  display: none;
  opacity: 0;
  will-change: top, left;
  background: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  z-index: 600;
  transition: opacity 0.2s ease;
}

.anim {
  will-change: opacity, transform;
  opacity: 0;
  transform: translateY(100px);
}

.anim.anim_fadeInUp {
  animation: fadeInUp 1.5s cubic-bezier(.1,.22,.03,1) both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.work_link-big:hover {
  opacity: 0.7;
  -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
}

.stroke_text {
  color: #fff;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;

  .green {
    -webkit-text-fill-color: #1AE88F; /* Will override color (regardless of order) */
  }
}

.stroke_title {
  font-size: 100px;
  line-height: 75%;
  text-transform: uppercase;
  // opacity: 0.9;
  font-weight: 900;
}

.mail_link {
  opacity: 0.5;
  display: block;
  margin-top: 50px;
}

footer {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 150px 0 80px 0;
  display: flex;
  justify-content: space-between;
  font-size: 11px;

  .left {
    opacity: 0.5;
  }

  .right * {
    display: inline;
    margin-left: 40px;
    opacity: 0.5;
  }
}


