.loaderOut {
  animation: loaderOut 1s cubic-bezier(.59,.13,.22,.98) both;
}

header.headerIn {
  animation: headerIn 1.9s cubic-bezier(.59,.13,.22,.98) both;
}

@keyframes loaderOut {
  0% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
    filter: blur(1rem);
  }
}

@keyframes headerIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1 !important;
  }
}
#loader_container {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  overflow: none;
  background: url("/images/noise.gif");
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 30px 30px 200px 30px;
  display: flex;
  z-index: 9000;
  position: fixed;
  align-items: flex-start;
  justify-content: center;

  .anim-container {
    margin: 30px 30px 200px 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .grid {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9000;
  }

  .vl {
    /*height: 100%;*/
    // border-right: 1px solid #222;
    min-width: 1px !important;
    background: #fff;
    opacity: 0.1;
    position: absolute;
    z-index: 9100;
    animation: revealY 1s cubic-bezier(.57,.06,.25,.99) 1s forwards;

    &:nth-of-type(1), &:nth-of-type(6) {
      background: #1ae88f;
      opacity: 1;
    }
  }

  .vl:nth-of-type(1) {
    left: 0%;
  }

  .vl:nth-of-type(2) {
    left: 20%;
  }

  .vl:nth-of-type(3) {
    left: 40%;
  }

  .vl:nth-of-type(4) {
    left: 60%;
  }

  .vl:nth-of-type(5) {
    left: 80%;
  }

  .vl:nth-of-type(6) {
    left: 100%;
  }

  .hl {
    /*width: 100%;*/
    min-height: 1px !important;
    background: #fff;
    opacity: 0.1;
    // border-bottom: 1px solid #222;
    position: absolute;
    z-index: 9100;
    animation: revealX 1s cubic-bezier(.57,.06,.25,.99) 0.8s forwards;

    &:nth-of-type(1), &:nth-of-type(6) {
      background: #1ae88f;
      opacity: 1;
    }
  }

  .hl:nth-of-type(1) {
    bottom: 0;
  }

  .hl:nth-of-type(2) {
    bottom: 20%;
  }

  .hl:nth-of-type(3) {
    bottom: 40%;
  }

  .hl:nth-of-type(4) {
    bottom: 60%;
  }

  .hl:nth-of-type(5) {
    bottom: 80%;
  }

  .hl:nth-of-type(6) {
    bottom: 100%;
  }

  @keyframes revealX {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes revealY {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }

  .hey-there, .fullstack-dev, .with-a-passion {
    position: absolute;
    left: 20%;
    height: 40%;
    opacity: 0.8;
    z-index: 9999;
    overflow: hidden;
  }

  .hey-there {
    bottom: calc(60% - 12px);
    width: 60%;
  }

  .fullstack-dev, .with-a-passion {
    bottom: calc(40% - 12px);
    width: 80%;
  }

  .hey-there div, .fullstack-dev div, .with-a-passion div {
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: 1.6em;
    line-height: 110%;
    bottom: 10px;
    overflow: hidden;
    width: 100%;
    font-family: Helvetica, sans-serif;
  }

  .fullstack-dev div {
    animation: moveTextLineUp 0.8s cubic-bezier(.66,0,.3,.98) 4.5s both;
  }

  .anim-container span {
    bottom: 0;
    margin-right: 6px;
    display: inline-block;
  }

  .hey-there span:nth-of-type(1) {
    animation: textEnter 2s cubic-bezier(.66,0,.3,.98) 1.3s both;
  }
  .hey-there span:nth-of-type(2) {
    animation: textEnter 2s cubic-bezier(.66,0,.3,.98) 1.4s both;
  }
  .hey-there span:nth-of-type(3) {
    animation: textEnter 2s cubic-bezier(.66,0,.3,.98) 1.5s both;
  }

  #wave {
    position: relative;
    transform-origin: 80% 80%;
    margin-left: 15px;
    margin-top: 25px;
    animation: waveHand 1.3s ease alternate both infinite;
  }

  .fullstack-dev span:nth-of-type(1) {
    animation: textEnter 4s cubic-bezier(.66,0,.3,.98) 2.9s both;
  }
  .fullstack-dev span:nth-of-type(2) {
    animation: textEnter 4s cubic-bezier(.66,0,.3,.98) 3s both;
  }
  .fullstack-dev span:nth-of-type(3) {
    animation: textEnter 4s cubic-bezier(.66,0,.3,.98) 3.1s both;
  }
  .fullstack-dev span:nth-of-type(4) {
    animation: textEnter 4s cubic-bezier(.66,0,.3,.98) 3.2s both;
  }
  .fullstack-dev span:nth-of-type(5) {
    animation: textEnter 4s cubic-bezier(.66,0,.3,.98) 3.3s both;
  }

  .with-a-passion span:nth-of-type(1) {
    animation: textEnter 2.9s cubic-bezier(.66,0,.3,.98) 4.4s both;
  }
  .with-a-passion span:nth-of-type(2) {
    animation: textEnter 2.9s cubic-bezier(.66,0,.3,.98) 4.5s both;
  }
  .with-a-passion span:nth-of-type(3) {
    animation: textEnter 2.9s cubic-bezier(.66,0,.3,.98) 4.6s both;
  }
  .with-a-passion span:nth-of-type(4) {
    animation: textEnter 2.9s cubic-bezier(.66,0,.3,.98) 4.7s both;
  }
  .with-a-passion span:nth-of-type(5) {
    animation: textEnter 2.9s cubic-bezier(.66,0,.3,.98) 4.8s both;
  }


  @keyframes textEnter {
    0% {
      transform: translateY(400%);
    }
    30% {
      transform: translateY(0);
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes moveTextLineUp {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-150%);
    }
  }

  @keyframes waveHand {
    0% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(30%);
    }
  }

}

@media all and (min-width: 1000px) {
  #loader_container {
    align-items: center;
    padding: 30px;
  }
  #loader_container .anim-container {
    margin: 30px;
  }
  #loader_container .grid {
    height: 100%;
  }

  #loader_container .hey-there div, #loader_container .fullstack-dev div, #loader_container .with-a-passion div {
    font-size: 50px;
  }

  #loader_container .anim-container span {
    margin-right: 12px;
  }

  #loader_container .hey-there {
    bottom: calc(60% - 19px);
  }

  #loader_container .fullstack-dev, #loader_container .with-a-passion {
    bottom: calc(40% - 19px);
  }
}
