@media screen and (min-width: 1000px) {
  body, a, a:hover {
    cursor: none !important;
  }

  .cursor {
    display: block !important;
  }
  .hey-there div, .fullstack-dev div, .with-a-passion div {
    font-size: 50px !important;
  }

  .anim-container span {
    margin-right: 12px !important;
  }

  header {
    height: 100vh !important;
  }
  .half {
    max-width: 540px !important;
  }

  .logo {
    width: 40px !important;
  }

  .fixed_elements .left {
    top: 80px !important;
    left: 60px !important;
    bottom: 80px !important;
  }

  .fixed_elements .right {
    top: 80px !important;
    bottom: 80px !important;
    right: 60px !important;
  }

  span.scroll_down-text {
    display: inline !important;
  }

  .scroll_progress {
    top: 180px !important;
    bottom: 0 !important;
  }

  .work_link-big {
    font-size: 80px !important;
    padding: 40px 0 !important;
  }

  .fixed_elements .right .social-container {
    right: -10px !important;
  }

  /*section>.container {
    width: auto !important !important;
    margin: 0 15px 0 60px !important !important;
  }*/

  section li {
    font-size: 14px !important;
  }

  .fixed_elements .right .nav-container {
    display: block !important;
    right: -10px !important;
    top: -10px !important;
  }
  .fixed_elements .right .nav-container li a {
    padding: 10px !important;
  }

  .fixed_elements .right .social-container a {
    margin-top: 10px !important;
  }

  .paragraph {
    font-size: 20px !important;
  }
  .section {
    padding: 150px 0 220px 0 !important;
  }

  .stroke_title {
    font-size: 100px !important;
    line-height: 75% !important;
  }

  section {
    padding: 120px 0 100px 0 !important;
  }

  footer {
    padding: 260px 0 80px 0 !important;
    font-size: 11px !important;
    flex-direction: row !important;
  }

  footer .right * {
    margin-left: 40px !important;
    display: inline !important;
    margin-top: 0 !important;
  }
  .container_inner, .container {
    flex-direction: row !important;
  }

  body .container {
    margin: 0;
  }
}
