#privacy_modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9990;
  display: none;
  width: 100vw;
  padding: 10% 0;
  height: 100vh;
  background: url('/images/noise.gif');
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
  justify-content: center;
  transform: translateY(30px);
  will-change: opacity, transform;
  transition: opacity 0.25s ease, transform 0.75s ease;

  &::-webkit-scrollbar-track
    {
      opacity: 0;
      width: 3px;
    }

  &::-webkit-scrollbar
    {
      opacity: 0;
      width: 3px;
    }

  &::-webkit-scrollbar-thumb
    {
      width: 3px;
      background-color: #1ae88f;
    }
}

.privacy_modal-content {
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
  font-size: 14px;
  margin: 0 auto;
  opacity: 0.8;
  line-height: 150%;

  &::after {
    content: '';
    position: relative;
    display: block;
    height: 200px;
  }

  h1, h2, h3, h4 {
    margin: 30px 0 15px 0;
  }

  h1 {
    margin-bottom: 40px;
  }

  hr {
    opacity: 0.3;
  }

  ul {
    padding: 20px;
  }

  li {
    list-style-type: disc;
  }
}

#exit_modal {
  position: fixed;
  right: 0;
  top: 20px;
  margin-right: 20px;
  // padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 9995;
  background: #1ae88f;
  display: none;
  opacity: 0;
  will-change: opacity, transform;
  align-items: center;
  justify-content: center;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 1.4s ease-out;

}

#exit_modal::after {
  content: '';
  width: 26px;
  height: 2px;
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
  background: #000A12;
  position: absolute;
}


#exit_modal::before {
  content: '';
  width: 26px;
  height: 2px;
  background: #000A12;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  position: absolute;
}

#privacy_modal-container.show, #exit_modal.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

@media all and (max-width: 1000px) {
  #exit_modal {
    top: calc(100% - 200px);
  }
}
