<div class="fixed_elements">
  <div class="left">
    <div class="logo">
      <svg width="43" height="129" viewBox="0 0 43 129" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.24402 122.14H8.16402V114.524H11.888L11.888 122.14H19V126.956H0.520023L0.520022 112.592H4.24402L4.24402 122.14Z" fill="white"/>
        <path d="M12.252 102.195V105.079H19V109.811H0.520022L0.520022 100.991C0.520022 98.7515 1.02402 97.0341 2.03202 95.8395C3.04002 94.6261 4.49602 94.0195 6.40002 94.0195C7.74402 94.0195 8.86402 94.3275 9.76002 94.9435C10.656 95.5595 11.3187 96.4555 11.748 97.6315L19 92.9275V98.2475L12.252 102.195ZM8.83602 105.079V101.803C8.83602 100.777 8.64936 100.03 8.27602 99.5635C7.90269 99.0968 7.30536 98.8635 6.48402 98.8635C5.68136 98.8635 5.09335 99.0968 4.72002 99.5635C4.34669 100.03 4.16002 100.777 4.16002 101.803L4.16002 105.079H8.83602Z" fill="white"/>
        <path d="M19 73.8468V79.1948L9.00402 84.9348L6.20402 86.3348V86.3628L9.67602 86.2508H19V90.5068H0.520021L0.520021 85.1588L10.516 79.4188L13.316 78.0188V77.9908L9.84402 78.1028H0.520021L0.52002 73.8468H19Z" fill="white"/>
        <path d="M11.076 62.6969L13.792 64.9369H19V69.7529H0.52002L0.52002 64.9369H8.72402L0.52002 58.3289L0.52002 52.9809L8.02402 59.2529L19 52.6449V58.1049L11.076 62.6969Z" fill="white"/>
        <path d="M23.24 119.732C23.24 117.977 23.5014 116.484 24.024 115.252C24.5467 114.001 25.396 112.844 26.572 111.78L29.708 114.496C28.7747 115.112 28.0934 115.84 27.664 116.68C27.216 117.501 26.992 118.491 26.992 119.648C26.992 120.619 27.16 121.365 27.496 121.888C27.832 122.411 28.28 122.672 28.84 122.672C29.3067 122.672 29.6894 122.401 29.988 121.86C30.268 121.3 30.5294 120.357 30.772 119.032C31.2387 116.475 31.92 114.655 32.816 113.572C33.712 112.471 34.972 111.92 36.596 111.92C37.772 111.92 38.7894 112.256 39.648 112.928C40.5067 113.6 41.16 114.533 41.608 115.728C42.056 116.904 42.28 118.239 42.28 119.732C42.28 121.823 42.028 123.521 41.524 124.828C41.0014 126.135 40.208 127.264 39.144 128.216L35.784 125.752C36.792 125.024 37.5014 124.203 37.912 123.288C38.3227 122.373 38.528 121.272 38.528 119.984C38.528 118.957 38.388 118.192 38.108 117.688C37.8094 117.165 37.3894 116.904 36.848 116.904C36.4187 116.904 36.0734 117.184 35.812 117.744C35.532 118.285 35.2707 119.2 35.028 120.488C34.7107 122.075 34.3374 123.391 33.908 124.436C33.46 125.463 32.8627 126.265 32.116 126.844C31.3694 127.404 30.4174 127.684 29.26 127.684C28.1027 127.684 27.0667 127.376 26.152 126.76C25.2374 126.125 24.528 125.211 24.024 124.016C23.5014 122.803 23.24 121.375 23.24 119.732Z" fill="white"/>
        <path d="M42 92.2765V97.6245L32.004 103.364L29.204 104.764V104.792L32.676 104.68H42V108.936H23.52V103.588L33.516 97.8485L36.316 96.4485V96.4205L32.844 96.5325H23.52V92.2765H42Z" fill="white"/>
        <path d="M23.24 80.9586C23.24 79.2039 23.5014 77.7106 24.024 76.4786C24.5467 75.2279 25.396 74.0706 26.572 73.0066L29.708 75.7226C28.7747 76.3386 28.0934 77.0666 27.664 77.9066C27.216 78.7279 26.992 79.7172 26.992 80.8746C26.992 81.8452 27.16 82.5919 27.496 83.1146C27.832 83.6372 28.28 83.8986 28.84 83.8986C29.3067 83.8986 29.6894 83.6279 29.988 83.0866C30.268 82.5266 30.5294 81.5839 30.772 80.2586C31.2387 77.7012 31.92 75.8812 32.816 74.7986C33.712 73.6972 34.972 73.1466 36.596 73.1466C37.772 73.1466 38.7894 73.4826 39.648 74.1546C40.5067 74.8266 41.16 75.7599 41.608 76.9546C42.056 78.1306 42.28 79.4652 42.28 80.9586C42.28 83.0492 42.028 84.7479 41.524 86.0546C41.0014 87.3612 40.208 88.4906 39.144 89.4426L35.784 86.9786C36.792 86.2506 37.5014 85.4292 37.912 84.5146C38.3227 83.5999 38.528 82.4986 38.528 81.2106C38.528 80.1839 38.388 79.4186 38.108 78.9146C37.8094 78.3919 37.3894 78.1306 36.848 78.1306C36.4187 78.1306 36.0734 78.4106 35.812 78.9706C35.532 79.5119 35.2707 80.4266 35.028 81.7146C34.7107 83.3012 34.3374 84.6172 33.908 85.6626C33.46 86.6892 32.8627 87.4919 32.116 88.0706C31.3694 88.6306 30.4174 88.9106 29.26 88.9106C28.1027 88.9106 27.0667 88.6026 26.152 87.9866C25.2374 87.3519 24.528 86.4372 24.024 85.2426C23.5014 84.0292 23.24 82.6012 23.24 80.9586Z" fill="white"/>
        <path d="M38.276 56.079H42L42 70.163H23.52V65.347H38.276V56.079Z" fill="white"/>
        <path d="M42 45.8304V51.4864L23.52 58.0664V52.9984L34.692 49.6104L38.332 48.6024L34.748 47.6224L23.52 44.1784V39.2784L42 45.8304Z" fill="white"/>
        <path d="M23.52 29.2371C23.52 26.3438 24.3227 24.1318 25.928 22.6011C27.5147 21.0518 29.792 20.2771 32.76 20.2771C35.728 20.2771 38.0147 21.0518 39.62 22.6011C41.2067 24.1318 42 26.3438 42 29.2371V37.0771H23.52L23.52 29.2371ZM38.36 29.7131C38.36 28.1638 37.8934 27.0251 36.96 26.2971C36.0267 25.5691 34.6267 25.2051 32.76 25.2051C30.8934 25.2051 29.4934 25.5691 28.56 26.2971C27.6267 27.0251 27.16 28.1638 27.16 29.7131V32.2611H38.36V29.7131Z" fill="white"/>
        <path d="M35.252 9.36343V12.2474H42V16.9794L23.52 16.9794V8.15943C23.52 5.91943 24.024 4.2021 25.032 3.00743C26.04 1.7941 27.496 1.18743 29.4 1.18743C30.744 1.18743 31.864 1.49543 32.76 2.11143C33.656 2.72743 34.3187 3.62343 34.748 4.79943L42 0.0954285V5.41543L35.252 9.36343ZM31.836 12.2474V8.97143C31.836 7.94476 31.6494 7.1981 31.276 6.73143C30.9027 6.26476 30.3054 6.03143 29.484 6.03143C28.6814 6.03143 28.0934 6.26476 27.72 6.73143C27.3467 7.1981 27.16 7.94476 27.16 8.97143V12.2474L31.836 12.2474Z" fill="white"/>
      </svg>
    </div>
    <span class="scroll_down-text"><a href="#">Scroll<br>Down</a></span>
    <div class="scroll_progress">
      <div id="bar"></div>
      <div id="arrow"></div>
    </div>
  </div>
  <div class="right">
    <nav class="nav-container">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </nav>
    <div class="social-container">
      <ul>
        <li>
          <a href="#">
            <svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.49258 0.415711C3.904 0.413856 0.1875 4.1285 0.1875 8.71336C0.1875 12.3389 2.5124 15.4209 5.7502 16.5527C6.18623 16.6622 6.11943 16.3523 6.11943 16.1408V14.7028C3.60156 14.9978 3.49951 13.3316 3.33066 13.0533C2.98926 12.4707 2.18213 12.3222 2.42334 12.0439C2.99668 11.7489 3.58115 12.1181 4.2584 13.1182C4.74824 13.8437 5.70381 13.7213 6.18809 13.6007C6.29385 13.1646 6.52022 12.775 6.83193 12.4725C4.22315 12.005 3.13584 10.413 3.13584 8.52039C3.13584 7.60193 3.43828 6.7577 4.03203 6.07674C3.65352 4.95418 4.06729 3.99305 4.12295 3.85018C5.20098 3.7537 6.32168 4.62206 6.40889 4.69071C7.02119 4.52557 7.7207 4.43836 8.50371 4.43836C9.29043 4.43836 9.9918 4.52928 10.6097 4.69627C10.8193 4.5367 11.8584 3.79081 12.8604 3.88172C12.9142 4.02459 13.3187 4.96346 12.9624 6.07118C13.5636 6.75399 13.8697 7.60565 13.8697 8.52596C13.8697 10.4222 12.775 12.0161 10.1588 12.4762C10.3829 12.6966 10.5608 12.9594 10.6822 13.2493C10.8036 13.5392 10.866 13.8504 10.8657 14.1647V16.2521C10.8806 16.4191 10.8657 16.5843 11.144 16.5843C14.4301 15.4765 16.7958 12.3723 16.7958 8.71521C16.7958 4.1285 13.0774 0.415711 8.49258 0.415711Z" fill="white"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.94493 3.69761C2.90158 3.69761 3.6771 2.92209 3.6771 1.96544C3.6771 1.00879 2.90158 0.233276 1.94493 0.233276C0.988286 0.233276 0.212769 1.00879 0.212769 1.96544C0.212769 2.92209 0.988286 3.69761 1.94493 3.69761Z" fill="white"/>
            <path d="M5.31261 5.0102V14.6202H8.2964V9.86787C8.2964 8.61387 8.53232 7.39945 10.0872 7.39945C11.6206 7.39945 11.6396 8.83316 11.6396 9.94704V14.621H14.625V9.35091C14.625 6.76216 14.0677 4.77271 11.0419 4.77271C9.5892 4.77271 8.61545 5.56991 8.21724 6.32437H8.17686V5.0102H5.31261ZM0.450195 5.0102H3.43874V14.6202H0.450195V5.0102Z" fill="white"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.49917 3.84012C6.5283 3.84012 5.59719 4.2258 4.91069 4.9123C4.22418 5.59881 3.8385 6.52992 3.8385 7.50079C3.8385 8.47165 4.22418 9.40276 4.91069 10.0893C5.59719 10.7758 6.5283 11.1615 7.49917 11.1615C8.47004 11.1615 9.40114 10.7758 10.0877 10.0893C10.7742 9.40276 11.1598 8.47165 11.1598 7.50079C11.1598 6.52992 10.7742 5.59881 10.0877 4.9123C9.40114 4.2258 8.47004 3.84012 7.49917 3.84012ZM7.49917 9.87816C6.86844 9.87816 6.26354 9.6276 5.81755 9.18161C5.37156 8.73562 5.121 8.13072 5.121 7.49999C5.121 6.86926 5.37156 6.26437 5.81755 5.81838C6.26354 5.37238 6.86844 5.12183 7.49917 5.12183C8.1299 5.12183 8.73479 5.37238 9.18079 5.81838C9.62678 6.26437 9.87734 6.86926 9.87734 7.49999C9.87734 8.13072 9.62678 8.73562 9.18079 9.18161C8.73479 9.6276 8.1299 9.87816 7.49917 9.87816Z" fill="white"/>
            <path d="M11.3047 4.55894C11.776 4.55894 12.1581 4.17686 12.1581 3.70553C12.1581 3.2342 11.776 2.85211 11.3047 2.85211C10.8334 2.85211 10.4513 3.2342 10.4513 3.70553C10.4513 4.17686 10.8334 4.55894 11.3047 4.55894Z" fill="white"/>
            <path d="M14.2553 2.83788C14.072 2.36461 13.792 1.93482 13.433 1.57601C13.0741 1.21721 12.6442 0.937307 12.1708 0.754217C11.6169 0.546292 11.0318 0.433862 10.4403 0.421717C9.67788 0.388467 9.43642 0.378967 7.50317 0.378967C5.56992 0.378967 5.32213 0.378967 4.56609 0.421717C3.97502 0.433241 3.39027 0.545693 2.83709 0.754217C2.36362 0.937093 1.93361 1.21692 1.57464 1.57575C1.21568 1.93458 0.935684 2.36449 0.752629 2.83788C0.544661 3.39174 0.43249 3.97696 0.42092 4.56847C0.386879 5.33005 0.376587 5.57151 0.376587 7.50555C0.376587 9.4388 0.376587 9.68501 0.42092 10.4426C0.432795 11.0348 0.54442 11.619 0.752629 12.174C0.936198 12.6472 1.21646 13.077 1.57552 13.4357C1.93457 13.7945 2.36451 14.0745 2.83788 14.2577C3.39001 14.474 3.97501 14.5944 4.56767 14.6139C5.33005 14.6472 5.5715 14.6575 7.50475 14.6575C9.438 14.6575 9.68579 14.6575 10.4418 14.6139C11.0333 14.6019 11.6184 14.4897 12.1724 14.2822C12.6456 14.0987 13.0754 13.8186 13.4343 13.4597C13.7932 13.1008 14.0734 12.671 14.2569 12.1978C14.4651 11.6436 14.5767 11.0593 14.5886 10.4672C14.6226 9.70559 14.6329 9.46413 14.6329 7.53009C14.6329 5.59605 14.6329 5.35063 14.5886 4.59301C14.5794 3.99314 14.4666 3.39937 14.2553 2.83788ZM13.291 10.384C13.2859 10.8403 13.2027 11.2923 13.0448 11.7204C12.9259 12.0282 12.7439 12.3078 12.5105 12.5411C12.2771 12.7744 11.9974 12.9562 11.6895 13.0749C11.2661 13.232 10.819 13.3153 10.3674 13.3211C9.61534 13.356 9.40317 13.3647 7.47467 13.3647C5.54459 13.3647 5.34746 13.3647 4.58113 13.3211C4.12982 13.3156 3.68284 13.2323 3.25984 13.0749C2.95084 12.957 2.67005 12.7754 2.43562 12.5421C2.2012 12.3088 2.01837 12.0288 1.89896 11.7204C1.74336 11.2969 1.66013 10.8502 1.65275 10.3991C1.61871 9.64701 1.6108 9.43484 1.6108 7.50634C1.6108 5.57705 1.6108 5.37992 1.65275 4.6128C1.65787 4.15682 1.74115 3.70509 1.89896 3.27726C2.14042 2.65263 2.63521 2.16101 3.25984 1.92193C3.68305 1.76529 4.1299 1.68202 4.58113 1.67572C5.334 1.64168 5.54538 1.63218 7.47467 1.63218C9.40396 1.63218 9.60188 1.63218 10.3674 1.67572C10.819 1.68115 11.2662 1.76444 11.6895 1.92193C11.9974 2.04089 12.277 2.22292 12.5104 2.45632C12.7438 2.68973 12.9259 2.96936 13.0448 3.27726C13.2004 3.70076 13.2837 4.14743 13.291 4.59855C13.3251 5.35142 13.3338 5.5628 13.3338 7.49209C13.3338 9.42059 13.3338 9.62801 13.2998 10.3848H13.291V10.384Z" fill="white"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
