<div id="loader_container">
  <div class="anim-container">
    <div class="hey-there">
      <div><span>Hi </span><span>there</span><span><div id="wave">👋</div></span></div>
    </div>
    <div class="fullstack-dev">
      <div><span>I'm</span><span>a</span><span>Full</span><span>Stack</span><span>Web Developer</span></div>
    </div>
    <div class="with-a-passion">
      <div><span>with</span><span>a</span><span>passion</span><span>for</span><span>design.</span></div>
    </div>
  </div>
  <div class="grid">
    <p class="skip">Click anywhere to skip</p>
    <div class="v">
        <div class="vl"></div>
        <div class="vl"></div>
        <div class="vl"></div>
        <div class="vl"></div>
        <div class="vl"></div>
        <div class="vl"></div>
    </div>
    <div class="h">
        <div class="hl"></div>
        <div class="hl"></div>
        <div class="hl"></div>
        <div class="hl"></div>
        <div class="hl"></div>
        <div class="hl"></div>
    </div>
  </div>
</div>
