<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title><%= current_page.data.title || "Francesco Sansalvadore — Creative Full Stack Developer" %></title>
<meta name="description" content="Francesco Sansalvadore is a multidisciplinary Full Stack Web Developer with 3+ years of coding experience and 6+ years as a Web Designer/Motion Designer.">
<meta name=”keywords” content="francesco, sansalvadore, torino, art director, digital, creative, web design, full stack, development, sviluppo, frontend, backend, ruby, ruby on rails, reactjs, react, javascript, css, freelance">
<meta name="robots" content="NOODP">
<meta name="msnbot" content="NOODP">
<meta name="googlebot" content="NOODP">
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Francesco Sansalvadore — Creative Full Stack Developer"/>
<meta property="og:description" content="Francesco Sansalvadore is a multidisciplinary Full Stack Web Developer with 3+ years of coding experience and 6+ years as a Web Designer/Motion Designer."/>
<meta property="og:url" content="https://www.fsansalvadore.com/"/>
<meta property="og:site_name" content="Francesco Sansalvadore"/>
<meta name="google-site-verification" content="fULI1YbzumvfeBe_hEzFi6xjw25H1vdv-GyvGXBGliw" />
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900|Kanit:800&display=swap" rel="stylesheet">
