---
title: Francesco Sansalvadore — Creative Full Stack Developer
---

<header id="top">
  <div class="header_main">
    <div class="main_visual-container" data-tilt data-tilt-perspective="4000">
      <img id="dots_front" src="/images/dots_front.png" alt="">
      <img id="silhouette" src="/images/HP_visual.png" alt="Francesco">
      <div class="title_text_comp" id="h1_title"><h1><span class="creative block">Creative</span><span class="fullstack block"><span class="full">Full</span><span class="stack">Stack</span></span><span class="developer block">Developer</span></h1></div>
      <img id="dots_back" src="/images/dots_back.png" alt="">
    </div>
  </div>
  <p id="subtitle" class="header_subtitle">Welcome, I’m glad to see you here.</p>
</header>
<section class="page-section" id="about">
  <div class="container">
    <div class="half">
      <h2>Who am I?</h2>
      <p class="stroke_text stroke_title">Multi-<br>
        disci-<br>
        plinary<br>
        <span class="green">doer</span>
      </p>
    </div>
    <div class="half">
      <p class="paragraph" id="intro_text">
        <span class="anim">Hey 👋 my name is Francesco Sansalvadore.</span>
        <br/>
        <span class="anim">I'm a <strong>Full Stack Web Developer</strong> with a strong background in Art Direction and Motion Design. I build modern web experiences with end-to-end control on both design, frontend and backend development.</span>
        <br/>
        <span class="anim">My preferred tech stack is <strong>Ruby on Rails</strong> but I also have experience with the <strong>MERN Stack</strong> and <strong>ReactJS</strong>.</span>
        <br/>
        <span class="anim">I define myself as an incurable optimist and always push myself to learn something new.</span>
      </p>
    </div>
  </div>
</section>
<section class="page-section" id="skills">
  <div class="container">
    <div class="half">
    </div>
    <div class="half container anim">
      <h2 class="flex_1-3">Skills</h2>
      <div class="container flex_2-3">
        <div class="container">
          <ul class="half">
            <li>Art Direction</li>
            <li>Motion Design</li>
            <li>Wireframing</li>
            <li>Web Design</li>
            <li>UX/UI Design</li>
            <li>Git</li>
          </ul>
          <ul class="half">
            <li>Html / CSS / SASS</li>
            <li>Javascript / ES6</li>
            <li>Ruby on rails</li>
            <li>EXpress JS / node js</li>
            <li>React JS / Redux</li>
            <li>MongoDB / Postgresql</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="work-thumb"></div>
<section class="page-section" id="work">
  <div class="container">
    <div class="work_list">
      <h2>Selected Work</h2>
      <a target="_blank" href="https://www.circolodeldesign.it/" class="work_link-big stroke_text anim" data-work="circolo" data-img="/images/CdD.gif">Circolo Del Design</a>
      <a target="_blank" href="http://saas247-ver2.herokuapp.com/" class="work_link-big stroke_text anim" data-work="saas" data-img="/images/saas.gif">Saas 247</a>
      <a target="_blank" href="https://www.dyme-music.com/" class="work_link-big stroke_text anim" data-work="dyme" data-img="/images/dyme.gif">Dyme Music</a>
      <a target="_blank" href="https://www.fsansalvadore.com/2017/" class="work_link-big stroke_text anim" data-work="portfolio" data-img="/images/portfolio2017.gif">Portfolio 2017</a>
    </div>
  </div>
</section>
<section class="page-section" id="history">
  <div class="container">
    <div class="half">
    </div>
    <div class="half">
      <div class="container_inner">
        <h2 class="flex_1-3">Job History</h2>
        <div class="flex_2-3">
          <div class="text-block anim">
            <p>2020—Today</p>
            <p>Freelance</p>
          </div>
          <div class="text-block anim">
            <p>2015-2019</p>
            <a target="_blank" href="https://www.bebit.it/en/" class="green" alt="">Bebit Srl</a> — Turin, Italy
          </div>
          <div class="text-block anim">
            <p>2014-2015</p>
            <a target="_blank" href="https://www.liberabrandbuilding.it/en/" class="green" alt="">Libera Brand Building</a> — Turin, Italy
          </div>
          <div class="text-block anim">
            <p>2013-2014</p>
            <a target="_blank" href="http://independentideas.it/" class="green" alt="">Independent Ideas</a> — Turin, Italy
          </div>
        </div>
      </div>
      <div class="container_inner">
        <h2 class="flex_1-3">Education</h2>
        <div class="flex_2-3">
          <div class="text-block anim">
            <p>2019</p>
            <a target="_blank" href="https://www.lewagon.com/web-development-course/full-time" class="green">Le Wagon Coding Bootcamp</a> — Copenhagen, DK
          </div>
          <div class="text-block anim">
            <p>2015-2018</p>
            <a target="_blank" href="https://www.udemy.com/share/101W9CA0sSc19bQHo=/" class="green">The Web Developer Bootcamp</a> — Udemy.com
          </div>
          <div class="text-block anim">
            <p>2012</p>
            <a target="_blank" href="https://sva.edu/" class="green">School of Visual Arts (SVA)</a> — New York, NY, USA
          </div>
          <div class="text-block anim">
            <p>2010-2013</p>
            <a target="_blank" href="https://www.ied.it/sedi/torino" class="green">Istituto Europeo del Design</a> — Turin, Italy
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section" id="contacts">
  <div class="container">
    <div class="half">
      <h2>Say hello,</h2>
      <p class="stroke_text stroke_title">Contact<br> me</p>
    </div>
    <div class="half anim">
      <p class="paragraph">
        For any query, feel free to email me.<br>
        I’m available both for interesting freelance projects or job offers.
      </p>
      <a class="mail_link" href="mailto:hello@fsansalvadore.com" target="_blank">hello@fsansalvadore.com</a>
    </div>
  </div>
</section>
<footer>
  <div class="left">
    <p>© All rights reserved — 2020</p>
  </div>
  <div class="right">
    <a id="privacy_open" href="#">Privacy & Cookie Policy</a>
    <p>P.IVA 12263550019</p>
  </div>
</footer>
<div id="end"></div>
